body{
  background-color: #e6e6e6;
}

.header_color{
  background-color: #4691aa;
}

body{
  background-color: #e6e6e;
}

.element{
  background-color: white;
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}

.element img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
